article h4{
    color: red;
}

div > p > a{
    color: red;
}

p#iEnlace{
    background-color: aqua;
    text-decoration: underline;
    font-size: 20px;
}

/*Margin 
--> 1 valor = x 4 coordenadas 
--> 4 valores = x 4 coordenadaas 
--> 3 valores = 1er TOP, 2do RIGHT+LEFT, 3ro BOTTOM 
--> 2 valores = 1er TOP + BOTTOM, 2do RIGHT + LEFT 
*/

div{
    margin: 10px 0px;
    width: 60%;
    min-width: 30px;
    height: 50%;
    min-height: 20px;
    border: 2px solid red;
    box-sizing: content-box;

    width: 100px;
    box-sizing: border-box;
    padding: 20px;
}