select::picker{
    appearance: base-select;
}

select{
    background: #222;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #555;
    font-size: 16px;
    cursor: pointer;
}

option{
    background: #333;
    color: white;
    border-radius: 8px;
}

option:hover{
    background: #555;
}

option:checked{
    background-color: #09f;
    color: white;
}

.lorem{
    width: 400px;
    height: 400px;
    overflow: scroll;
    position: static;
}